# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


*   List popular languages for Data Science
*   List of common libraries for Data Science

*   Some of Data Science Tools
*   Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
1.   SQL
2.   Java

Some of the commonly used libraries used by Data Scientists include:


1.   NumPy
2.   SciPy
1.   PyTorch
2.   Pandas

Data Science Tools | .
--- | ---
RStudio |
Apache Spark |
Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
 (3*4)+5

17

In [2]:
 #This will convert 200 minutes to hours by diving by 60
 200/60

3.3333333333333335

## Author
Afnan Alotaibi